.DS_Store
/.build
/.builda
/Packages
swiftinfo
/build
/build1
/build2
/SwiftInfo-output
/bin
BuildTools/.build
SwiftInfo-output
Pods
*.xcworkspace
build
ExampleProject/fastlane/report.xml
ExampleProject/fastlane/test_output/report.html
ExampleProject/fastlane/test_output/report.junit
.swiftpm
swiftshield-output/
swiftshield.xcodeproj
xcuserdata/
xcschememanagement.plist