
swiftshield.xcodeproj/project.xcworkspace/xcuserdata/bruno.rocha.xcuserdatad/UserInterfaceState.xcuserstate

SwiftShieldExample/SwiftProtectorExample.xcodeproj/project.xcworkspace/xcuserdata/bruno.rocha.xcuserdatad/UserInterfaceState.xcuserstate
